.container
  %h1 Movies#index
  %p Find me in app/views/movies/index.html.haml
  %ul.list-unstyled.col-sm-12.col-md-6.offset-md-3
    - @movies.each do |movie|
      %li.media.mb-2
        = image_tag(url_for(movie.poster), class: 'align-self-center mr-3', style: 'height: 80px,; width: 60px') if movie.poster.attached?
        .media-body.align-self-center.text-left
          %h5.mb-1 #{movie.title}
          %ul.list-unstyled
            -  movie.attributes.slice('runtime','released').each_pair do |k,v|
              %li
                %strong
                  = t(".#{k}")
                %em #{v}