.m-wrapper
  -5.times do
    - @photosArray.each do |item|
      = image_tag(url_for(item))
.container
  .col
    .row
      %h2 'Welcome to Movicorn'
    .row
      %em The website to find when your favorite film will be available
    .row
      %p
        The time is now: #{Time.now}
    .row
      .col-sm-6.col-sm-offset-3.center
        #imaginary_container
          = form_tag('/search_item', method: 'get') do
            .input-group
              = text_field_tag :item_title, nil, placeholder: 'Titre du film', class: 'form-control'
              .input-group-addon
                = submit_tag 'Rechercher', class: 'btn btn-submit btn-secondary'
